@font-face {
    font-family: chunkFiveRegular;
    src: url("../fonts/ChunkFive-Regular.otf");
}

@font-face {
    font-family: chunFiveprint;
    src: url('../fonts/Chunk Five Print.otf');
}

@font-face {
    font-family: latoHeavy;
    src: url("../fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: latoMedium;
    src: url("../fonts/Lato-Medium.ttf");
}
img{
	height: auto;
	max-width: 100%;
}
a{
	text-decoration: none;
}
body {
    font-family: latoMedium, roboto;
    font-size: 1em;
    background-color: #fff;
}

/*main styles*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/*header*/
.header-bg {
    background-image: url("../img/header-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.header-bg .flex-container {
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    font-family: montserrat;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.logo-link .bolder {
    font-size: 25px;
    font-weight: bold;

}

.header-bg .menu-wraper {
    display: flex;
    flex-wrap: wrap;

}

.menu-bg {
    padding-top: 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1))
}

.header-bg .menu-wraper li {
    padding: 16px 32px;
    transition: 0.4s;
}
/*.header-bg .menu-wraper li:hover{
	 border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 16px 32px;
}*/
.header-bg .menu-wraper li:first-child {
    border: 3px solid #ffffff;
    border-radius: 30px;
    padding: 16px 32px;
}

.header-bg .menu-wraper li a {
    font-family: latoheavy;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

/*user image*/
.user-img {
    border-radius: 50%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #fff;
    margin-left: 4px;
}

.user-actions {
    position: relative;
}

.dropdown-menu ul {
    position: absolute;
    top: 35px;
    left: 48px;
    padding: 5px 5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu ul li {
    padding: 2px 2px;
    border-bottom: 2px solid #fff;
}

.dropdown-menu ul li a {
    font-family: latoMedium;
    font-size: 14px;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

.head {
    font-family: chunkFiveRegular;
    font-size: 80px;
    color: #29d9c2;

}

.header-head {
    margin-top: 145px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
}

.mark {
    color: #01a2a6;
}
.desc-wraper{
	display: flex;
	justify-content: center;
}
.head-desc {
    font-family: latoMedium;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    max-width: 615px;
    margin-top: 25px;
}

.button-wraper {
    display: flex;
    justify-content: center;
}

.btn-head {
    display: block;
    max-width: 222px;
    font-family: latoMedium;
    font-size: 16px;
    text-transform: uppercase;
    color: #10273d;
    background-color: #ffffa6;
    margin-top: 45px;
    padding: 30px 38px;
    text-align: center;
    text-decoration: none;
    border-radius: 38px;
    font-weight: bold;
    margin-bottom: 248px;
    transition: 0.4s;


}

.btn-head:hover {
    background-color: #ebeb8c;
}

/*city block*/
.city-bg {
    padding: 108px 0;
    margin-top: -44px;
    background-color: rgba(255, 255, 255, 0.9);
}

.city-bg .flex-container {
    justify-content: space-between;
}

.city-head {
    color: #29d9c2;
    margin-bottom: 72px;
}

.city-desc {
    font-family: latoMedium;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
    max-width: 533px;
}

/*destination*/
.destination {
    background-color: #f2fefe;
    padding: 70px 0 85px 0;
}

.destination-head {
    color: #29d9c2;
    margin-bottom: 77px;
    text-transform: capitalize;
}

.fas {
    color: #aeaeae;
}

.info-text {
    font-family: latoMedium;
    font-size: 16px;
    color: #aeaeae;
    margin-left: 9px;
}

.head-block .flex-container {
    justify-content: space-between;
    align-items: center;
}

.destination-desc {
    font-family: latoMedium;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
    max-width: 643px;
    margin-bottom: 70px;
}

.form-control .flex-container {
    justify-content: space-between;
    margin-bottom: 20px;
}

.destination-inp {
    font-family: latoMedium;
    font-size: 14px;
    line-height: 35px;
    font-style: italic;
    border: 1px solid #e8e8e8;
    border-radius: 25px;
    width: 235px;
    height: 35px;
    outline: none;
    padding: 9px 40px
}

.form {
    position: relative;
}

.send-btn {
    position: absolute;
    top: 15px;
    left: 7px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #55676e;
}

.place-link {
    font-family: latoMedium;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
    transition: 0.4;
    text-decoration: none;
    text-transform: uppercase;
}

.place-link:hover {
    font-weight: bold;
}

.img-lg-wrap {
    position: relative;
    margin-bottom: 34px;
}

.curtain {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.9);
    max-width: 470px;
    padding: 50px 72px 80px 40px;

}

.curtain::before {
	position: absolute;
	top:300px;
	left: 300px;
     width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 100px solid   red/*rgba(255, 255, 255, 0.9)*/;
      border-bottom: 50px solid transparent;
  
}

.curtain-img {
    padding-bottom: 30px;
}

.curtain-head {
    font-family: latoMedium;
    font-size: 30px;
    text-transform: capitalize;
    color: #01a2a6;
    margin-bottom: 23px;
}

.curtain-desc {
    font-family: latoMedium;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
}
.bromo-block{
	position: relative;
	max-width: 670px;
	margin-right: 30px;
}
.bromo-block .curtain{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 324px;
}
.img-block{
	position: relative;
}
.ireland-ico{
	position: absolute;
	top: 30%;
	left: 35%;
}
.galery-link{
	position: absolute;
	border-radius: 50%;
	padding: 22px 12px 14px 40px;
	bottom: -10px;
	right: 0;
	transition: 0.4s;
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #f6f6f6;
	text-decoration: none;
	overflow:hidden;
}
.galery-link:hover{
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9))
}
.gallery-nav{
	margin-top: 80px;
	display: flex;
	justify-content: center;
}
.galery-nav-items li{
	display: inline-block;
}
.galery-nav-items li{
	padding: 0 8px;
}
.galery-nav-items li a{
	font-family: chunkFiveRegular;
	font-size: 18px;
	color: #acacac;
	text-decoration: none;
	transition: 0.4s;
}
.galery-nav-items li a:hover{
	
	color: #6dc4c6;
	font-weight: bold;
}
/*ittinery block*/
.ittinery-block{
	padding: 75px 5px 98px 5px;
	background-color: #ffffff;
}
.ittinery-head{
	text-align: center;
	margin-bottom: 75px;
}
.ittinery-desc{
	max-width: 731px;
	margin: 0 auto;
	text-align: center;
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #777777;
	margin-bottom: 145px;
}
.destination-head-bg{
	padding: 27px 5px 32px 5px;
	background-image: url("../img/form-bg.jpg");

	background-size: cover;
	background-repeat: no-repeat;

}
.destination-form{
	overflow: hidden;
	border-radius:3px;
	flex-basis: 670px;
}
.destination-form-head{
	font-family: latoMedium;
	font-size: 18px;
	line-height: 35px;
	color: #ffffff;
	text-align: center;
}
.destination-data-wraper{
	padding: 24px 31px 85px 40px;
	background-color: #ffffa6;
}
.destination-date{
	display: flex;
	justify-content: space-between;
}
.current-day,.current-date{
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #29d9c2;
	margin-bottom: 20px;
}
.drop-zone{
	padding: 20px 10px;
	background-color: #fbf6a3;
	border: 3px solid #e8e897;
	border-style: dashed;
	border-radius: 3px;
	text-align: center;
}
.drop-zone-desc{
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #d8cb7d;
}
/*offers styles*/
.destination-offers-drag{
	padding: 30px 5px;
}
.offers-head{
	position: relative;
	font-family: latoMedium;
	font-size: 18px;
	line-height: 35px;
	color: #29d9c2;
	font-weight: bold;
	text-align: center;
	padding-bottom: 18px;
}
.offers-head::before{
	position: absolute;
	display: block;
	height: 3px;
	width: 70px;
	background-color: #3eddc8;
}
.sort-option{
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #29d9c2;
	font-weight: bold;
	
}
#select-sort-option{
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #bcbcbc;
	text-transform: capitalize;
	border: none;
	outline:none;
	
}
.offers-search-wraper{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.ittinary-search-field{
	display: none;
}
#select-sort-option option{
	padding: 10px 15px;
}
.destination-search-btn{
	border: none;
	background: none;
}
.offer-block{
	border: 1px solid#e8e8e8;

	border-radius: 4px;
	flex-basis: 467px;
	margin-bottom: 17px;
	padding: 13px 23px 10px 23px;
-webkit-box-shadow: 1px 3px 5px 0px rgba(242,242,242,1);
-moz-box-shadow: 1px 3px 5px 0px rgba(242,242,242,1);
box-shadow: 1px 3px 5px 0px rgba(242,242,242,1);
}
.ittinary-head{
	font-family: latoMedium;
	font-size: 24px;
	line-height: 35px;
	color: #626262;
}
.ittinary-desc{
	font-family: latoMedium;
	font-size: 14px;
	line-height: 35px;
	color: #b9b9b9;
}
.time{
	color: #23c6b6;
}
.details{
	font-family: latoMedium;
	font-size: 14px;
	line-height: 35px;
	color: #23c6b6;
	transition: 0.4s;
}
.details:hover{
	font-weight: bold;
	}
.buttons-wraper{
justify-content: center;
}
.btn-ittinary{
	border-radius: 27px;
	display: block;
	padding: 21px 21px 25px 21px;
	font-family: latoMedium;
	font-size: 16px;
	line-height: 35px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 17px;
	transition: 0.4s;
	
}
.save-btn{
	background-color: #c3f37f;
	width: 168px;
}
.save-btn:hover{
background-color: #b2de75;
}
.print-btn{
	margin-left: 28px;
	background-color: #3ddbc7;
	width: 135px;
}
.print-btn:hover{
	background-color: #2eaf9f;
}
.contact{
	padding: 86px 5px 80px 5px;
	background-image: url("../img/contact-bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.ct-head{
	font-family: chunkFive;
	font-size: 65px;
	color: #ffffff;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 105px;
}
/*.inp-wrap{
	max-width: 470px;
}*/
.inp-wrap input,textarea{
	padding: 23px 26px 24px 26px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	font-family: latoMedium;
	font-size: 14px;
	line-height: 24px;
	color: #b9b9b9;
	outline: none;
	margin-bottom: 29PX;
}
.inp-wrap:first-child input{
	width: 100%;
}
.inp-wrap:nth-child(2) input{
	margin-right: 18px;
	width: 225px;
}
.inp-wrap:nth-child(3) input{
	width: 225px;
}
#ct-send-btn{
	font-family: latoMedium;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	background-color: #c7f289;
	border: none;
	padding: 28px 25px 27px 22px;
	border-radius: 25px;
}
